# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
env/
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python Packaging
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Migrations (optional)
# */migrations/*
# !*/migrations/__init__.py